@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #333;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.Header-Row {
  overflow: hidden;
  background: #333;
}

.Logo-Col {
  float: left;
  width: 240px;
  margin-right: 15px;
}

.Logo-Col img {
  width: 100%;
}

.Menu-Col {
  float: right;
  width: 885px;
}

.Menu-Col ul {
  list-style: none;
  text-align: right;
  margin: 22px 0;
}

.Menu-Col ul li {
  display: inline-block;
}

.Menu-Col ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 10px;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: bold;
}

.Menu-Col ul li a:hover {
  color: #E81F6B;
}

.Banner-Row {
  position: relative;
}

.Banner-Row img {
  width: 100%;
}

.Content {
  width: 50%;
  padding: 0 20px;
  top: 32%;
  position: absolute;
}

.Content h5 {
  color: #ffff;
  letter-spacing: 2px;
  font-size: 1rem;
}

.Content h4 {
  color: #E81F6B;
  text-transform: capitalize;
  font-size: 5rem;
  margin-top: -20px;
  border-bottom: 2px solid #6d6d6d;
}

.Content a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px 0;
  display: block;
}

.Content a span {
  color: #E81F6B;
}

.Content .Search {
  width: 99%;
  border: 2px solid #E81F6B;
}

.Content .Search #Search {
  width: 90%;
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 10px;
}

.Content .Search i {
  font-size: 20px;
  color: #ffffff;
  background: #E81F6B;
  padding: 10px 16px;
  cursor: pointer;
}

.Welcome-Row {
  background: #E81F6B;
  margin-top: -4px;
  padding: 45px 20px;
  text-align: center;
}

.Welcome-Row h4 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
}

.Welcome-Row .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Welcome-Row .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Welcome-Row p {
  font-size: 1rem;
  color: #fff;
}

.Title-Text {
  text-align: center;
  padding: 40px 0;
}

.Title-Text h4 {
  color: #2D3134;
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 6px;
}

.Title-Text .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Title-Text .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Title-Text p {
  color: #777A7C;
  font-size: 1rem;
}

.Design-box {
  overflow: hidden;
}

.Design-box .Single-box {
  float: left;
  width: 366px;
  margin-right: 20px;
}

.Design-box .Single-box img {
  width: 100%;
  padding: 15px;
  border: 1px solid #D8D8D8;
}

.Design-box .Single-box:last-child {
  margin-right: 0;
}

.Design-box .Single-box .Title-Box {
  width: 100%;
  text-align: center;
}

.Design-box .Single-box .Title-Box h4 {
  text-transform: capitalize;
  color: #E81F6B;
  font-size: 23px;
  padding: 10px 0;
}

.Design-box .Single-box .Title-Box p {
  color: #777A7C;
  font-size: 1rem;
  margin-bottom: 10px;
}

.Design-box .Single-box .Title-Box a {
  text-decoration: none;
  color: #E81F6B;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 21px;
  display: inline-block;
  border: 1px solid #E81F6B;
  margin-bottom: 8px;
  -webkit-transition: .5s;
  transition: .5s;
}

.Design-box .Single-box .Title-Box a:hover {
  background: #E81F6B;
  color: #ffffff;
}

.Gift-Row {
  margin: 35px 0;
}

.Gift-Row .Gift-Title {
  text-align: center;
  padding: 30px 0;
}

.Gift-Row .Gift-Title h4 {
  text-transform: capitalize;
  font-size: 2rem;
  color: #2D3134;
  margin-bottom: 8px;
}

.Gift-Row .Gift-Title .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Gift-Row .Gift-Title .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Gift-Row .Gift-Title p {
  font-size: 1rem;
  color: #777A7C;
}

.Gift-Row .Gift-Box {
  overflow: hidden;
}

.Gift-Row .Gift-Box .Single-Gift-Box {
  float: left;
  width: 360px;
  padding: 10px;
  margin-right: 30px;
  text-align: center;
}

.Gift-Row .Gift-Box .Single-Gift-Box i {
  font-size: 30px;
  padding: 20px 35px;
  color: #fff;
  background: #E81F6B;
  margin: 8px 0;
}

.Gift-Row .Gift-Box .Single-Gift-Box:last-child {
  margin-right: 0;
}

.Gift-Row .Gift-Box .Single-Gift-Box .Inner-Box {
  width: 100%;
  border: 4px solid #E81F6B;
  text-align: center;
  padding: 40px 6px;
}

.Gift-Row .Gift-Box .Single-Gift-Box .Inner-Box h3 {
  text-transform: capitalize;
  color: #2D3134;
  margin-bottom: 10px;
  font-size: 25px;
}

.Gift-Row .Gift-Box .Single-Gift-Box .Inner-Box p {
  color: #777A7C;
  font-size: 1rem;
}

.About {
  overflow: hidden;
  background: #D4D2C5;
  margin-top: 50px;
}

.About .About-Photo {
  float: left;
  width: 500px;
  height: 450px;
  margin-right: 20px;
}

.About .About-Photo img {
  width: 100%;
  height: 100%;
}

.About .About-Text {
  float: right;
  width: 620px;
  padding: 10px;
  margin: 59px 0;
}

.About .About-Text h4 {
  text-transform: capitalize;
  font-size: 2rem;
  color: #2D3134;
}

.About .About-Text p {
  color: #777A7C;
  font-size: 1rem;
  line-height: 28px;
  margin: 15px 0;
}

.About .About-Text a {
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #E81F6B;
  color: #E81F6B;
  padding: 8px 40px;
  display: inline-block;
  -webkit-transition: .7s;
  transition: .7s;
}

.About .About-Text a:hover {
  background: #E81F6B;
  color: #ffffff;
}

.Videos {
  overflow: hidden;
  margin-top: 50px;
}

.Videos .Videos-Text {
  float: left;
  width: 550px;
  margin-right: 20px;
}

.Videos .Videos-Text h4 {
  text-transform: capitalize;
  font-size: 2rem;
  color: #474A4D;
}

.Videos .Videos-Text p {
  color: #6c7279;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 25px;
}

.Videos .Video-Right {
  float: right;
  width: 570px;
  height: 342px;
}

.Videos .Video-Right iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.Gallery {
  margin-top: 60px;
}

.Gallery .Gallery-Tiltle {
  text-align: center;
  padding: 30px 0;
}

.Gallery .Gallery-Tiltle h4 {
  text-transform: capitalize;
  color: #454545;
  font-size: 2rem;
}

.Gallery .Gallery-Tiltle .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Gallery .Gallery-Tiltle .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Gallery .Gallery-Tiltle p {
  color: #777A7C;
  font-size: 1rem;
}

.Gallery .Gallery-Box {
  overflow: hidden;
  margin-top: 10px;
}

.Gallery .Gallery-Box .Single-Gallery {
  float: left;
  width: 376px;
  background: #E81F6B;
  margin-right: 6px;
  margin-bottom: 6px;
  height: 270px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .7s;
  transition: .7s;
}

.Gallery .Gallery-Box .Single-Gallery img {
  width: 100%;
  height: 100%;
  -webkit-transition: .7s;
  transition: .7s;
}

.Gallery .Gallery-Box .Single-Gallery:hover img {
  opacity: 0.4;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.Gallery .Gallery-Box .Single-Gallery:nth-child(3) {
  margin-right: 0;
}

.Gallery .Gallery-Box .Single-Gallery:nth-child(6) {
  margin-right: 0;
}

.Gallery .Gallery-Box .Single-Gallery:nth-child(9) {
  margin-right: 0;
}

.Gallery .Gallery-Box .Single-Gallery:nth-child(12) {
  margin-right: 0;
}

.Gallery .Gallery-Box .Single-Gallery .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.Gallery .Gallery-Box .Single-Gallery .content i {
  color: #ffffff;
  font-size: 35px;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: .7s;
  transition: .7s;
  opacity: 0;
  visibility: hidden;
}

.Gallery .Gallery-Box .Single-Gallery:hover .content i {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.Discount-Banner {
  margin-top: 80px;
}

.Discount-Banner img {
  width: 100%;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.Discount-Banner img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.Collection {
  overflow: hidden;
  margin-top: 20px;
}

.Collection .Collection-Left {
  float: left;
  width: 500px;
  margin-right: 20px;
}

.Collection .Collection-Left .Frame {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 25px 20px 80px;
  position: relative;
  background: #f4faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.Collection .Collection-Left .Frame:last-child {
  margin-bottom: 0;
}

.Collection .Collection-Left .Frame .Icon {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.Collection .Collection-Left .Frame .Icon i {
  font-size: 25px;
  color: #E81F6B;
  height: 60px;
  width: 60px;
  padding: 18px 13px;
  background: #CDF1D8;
  border-radius: 40px;
  -webkit-transition: .5s;
  transition: .5s;
  border: 2px solid #cac7c7;
}

.Collection .Collection-Left .Frame .Text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.Collection .Collection-Left .Frame .Text h4 {
  font-size: 28px;
  text-transform: capitalize;
  color: #454545;
  -webkit-transition: .7s;
  transition: .7s;
}

.Collection .Collection-Left .Frame .Text p {
  color: #454545;
  -webkit-transition: .7s;
  transition: .7s;
}

.Collection .Collection-Left .Frame::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1%;
  background: -webkit-gradient(linear, left top, right top, from(#E81F6B), color-stop(90%, #fa4323));
  background: linear-gradient(90deg, #E81F6B 0%, #fa4323 90%);
  z-index: -1;
  -webkit-transition: .7s;
  transition: .7s;
}

.Collection .Collection-Left .Frame:hover::before {
  width: 100%;
}

.Collection .Collection-Left .Frame:hover .Text h4,
.Collection .Collection-Left .Frame:hover .Text p {
  color: #f4faff;
}

.Collection .Collection-Left .Frame:hover .Icon i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: #ffff;
}

.Collection .Collection-Left .Frame:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.Collection .Collection-Right {
  float: right;
  width: 620px;
}

.Collection .Collection-Right img {
  width: 100%;
}

.Highlight {
  margin-top: 50px;
}

.Highlight .H-Title {
  text-align: center;
  padding: 25px 0;
}

.Highlight .H-Title h4 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #454545;
}

.Highlight .H-Title .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Highlight .H-Title .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Highlight .H-Title p {
  font-size: 1rem;
  color: #777A7C;
}

.Highlight .Highlight-Box {
  overflow: hidden;
  margin-top: 20px;
  padding: 20px 0;
}

.Highlight .Highlight-Box .Hsingle-Box {
  float: left;
  width: 554px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #EFEFEF;
  -webkit-transition: .5s;
  transition: .5s;
}

.Highlight .Highlight-Box .Hsingle-Box:nth-child(2), .Highlight .Highlight-Box .Hsingle-Box:nth-child(4) {
  margin-right: 0;
}

.Highlight .Highlight-Box .Hsingle-Box img {
  width: 50%;
}

.Highlight .Highlight-Box .Hsingle-Box h4 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #454545;
}

.Highlight .Highlight-Box .Hsingle-Box p {
  color: #777A7C;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px;
}

.Highlight .Highlight-Box .Hsingle-Box a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #E81F6B;
  border: 1px solid #E81F6B;
  display: inline-block;
  padding: 8px 25px;
  -webkit-transition: .7s;
  transition: .7s;
}

.Highlight .Highlight-Box .Hsingle-Box a:hover {
  background: #E81F6B;
  color: #f5f5f5;
}

.Highlight .Highlight-Box .Hsingle-Box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 8px 10px #cecbd18a;
          box-shadow: 0px 8px 10px #cecbd18a;
}

.Activities {
  background: #E81F6B;
  text-align: center;
  padding: 60px 40px;
}

.Activities h4 {
  text-transform: capitalize;
  color: #ffff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.Activities .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Activities .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Activities p {
  color: #fff;
  font-size: 1rem;
}

.Mail-Part {
  margin: 60px 0;
}

.Mail-Part .Mail-Title {
  text-align: center;
  padding-bottom: 25px;
}

.Mail-Part .Mail-Title h4 {
  text-transform: capitalize;
  font-size: 2rem;
  color: #454545;
  margin-bottom: 10px;
}

.Mail-Part .Mail-Title .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Mail-Part .Mail-Title .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Mail-Part .Mail-Title p {
  font-size: 1rem;
  color: #777A7C;
  margin-bottom: 10px;
}

.Mail-Part .Mail-Box {
  width: 80%;
  margin: 0 auto;
}

.Mail-Part .Mail-Box input[type="text"], .Mail-Part .Mail-Box input[type="email"], .Mail-Part .Mail-Box textarea {
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #6d6d6d;
  border: 0;
  outline: none;
  border-radius: 2px;
  -webkit-box-shadow: inset 2px 2px 5px #cecbd1, inset -2px -2px 5px #ffffff;
          box-shadow: inset 2px 2px 5px #cecbd1, inset -2px -2px 5px #ffffff;
  background: none;
}

.Mail-Part .Mail-Box input[type="submit"] {
  padding: 12px 44px;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  font-weight: bold;
  background: #E81F6B;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.Mail-Part .Mail-Box input[type="submit"]:hover {
  color: #E81F6B;
  background: #ECEBE7;
}

.Map iframe {
  width: 100%;
  height: 320px;
  border: 1px solid #EFEFEF;
  padding: 4px;
}

.Bottom-Cover {
  background-image: url("../Assets-File/footer-cover.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.Bottom-Cover .Cover-Text {
  background: #333;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bottom-Cover .Cover-Text h5 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.Bottom-Cover .Cover-Text .Bars {
  position: relative;
  height: 6px;
  width: 105px;
  background: #d4fde0;
  margin: 15px auto 20px;
  border-radius: 30px;
}

.Bottom-Cover .Cover-Text .Bars::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40fc7f;
  -webkit-animation: Move-Circle;
          animation: Move-Circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes Move-Circle {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

.Bottom-Cover .Cover-Text p {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.Bottom-Cover .Cover-Text a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background: #E81F6B;
  padding: 12px 80px;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: .7s;
  transition: .7s;
}

.Bottom-Cover .Cover-Text a:hover {
  color: #E81F6B;
  background: #ECEBE7;
}

.Top-Footer {
  background: #232323;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2px;
}

.Top-Footer .Fab-Fashion {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.Top-Footer .Fab-Fashion h5 {
  color: #E82E6F;
  text-transform: capitalize;
  font-size: 1.4rem;
  padding-bottom: 6px;
  border-bottom: 1px solid #f3f2f144;
  position: relative;
}

.Top-Footer .Fab-Fashion h5::before {
  content: "";
  position: absolute;
  left: 0;
  width: 70px;
  height: 1.2px;
  bottom: -1px;
  background: #E82E6F;
}

.Top-Footer .Fab-Fashion p {
  color: #DDE3E8;
  font-size: 1rem;
  line-height: 30px;
  margin-top: 15px;
}

.Top-Footer .Fab-Fashion ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.Top-Footer .Fab-Fashion ul li {
  margin-right: 10px;
}

.Top-Footer .Fab-Fashion ul li a {
  text-decoration: none;
  color: #ffffff;
  background: #E82E6F;
  height: 35px;
  width: 35px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: .7s;
  transition: .7s;
}

.Top-Footer .Fab-Fashion ul li a i {
  font-size: 15px;
}

.Top-Footer .Fab-Fashion ul li a:hover {
  background: #ffffff;
  color: #E82E6F;
}

.Top-Footer .Quick-Link {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.Top-Footer .Quick-Link h5 {
  color: #E82E6F;
  text-transform: capitalize;
  font-size: 1.4rem;
  padding-bottom: 6px;
  border-bottom: 1px solid #f3f2f144;
  position: relative;
}

.Top-Footer .Quick-Link h5::before {
  content: "";
  position: absolute;
  left: 0;
  width: 70px;
  height: 1.2px;
  bottom: -1px;
  background: #E82E6F;
}

.Top-Footer .Quick-Link ul {
  list-style: none;
  margin-top: 15px;
}

.Top-Footer .Quick-Link ul li i {
  color: #E82E6F;
}

.Top-Footer .Quick-Link ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #DDE3E8;
  padding: 4px 0;
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
}

.Top-Footer .Quick-Link ul li a:hover {
  color: #E82E6F;
}

.Top-Footer .Newslatter {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.Top-Footer .Newslatter h5 {
  color: #E82E6F;
  text-transform: capitalize;
  font-size: 1.4rem;
  padding-bottom: 6px;
  border-bottom: 1px solid #f3f2f144;
  position: relative;
}

.Top-Footer .Newslatter h5::before {
  content: "";
  position: absolute;
  left: 0;
  width: 70px;
  height: 1.2px;
  bottom: -1px;
  background: #E82E6F;
}

.Top-Footer .Newslatter input {
  width: 80%;
  padding: 14px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #333;
  color: #333;
  outline: none;
}

.Top-Footer .Newslatter input[type="submit"] {
  background: #DED7D3;
  color: #E82E6F;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: .7s;
  transition: .7s;
}

.Top-Footer .Newslatter input[type="submit"]:hover {
  color: #ffffff;
  background: #E82E6F;
}

.Main-Footer {
  padding: 15px;
  background: #232323;
  text-align: center;
  border-top: 1px solid  #f3f2f12a;
}

.Main-Footer p {
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Main-Footer p span {
  color: #E82E6F;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .Menu-Col {
    width: 715px;
  }
  .Content {
    width: 59%;
  }
  .Content .Search i {
    padding: 11px 16px;
  }
  .Design-box .Single-box {
    width: 310px;
  }
  .Gift-Row .Gift-Box .Single-Gift-Box {
    width: 313px;
    margin-right: 15px;
  }
  .About .About-Photo {
    width: 450px;
    margin-right: 15px;
  }
  .About .About-Text {
    width: 505px;
    margin: 31px 0;
  }
  .Videos .Videos-Text {
    width: 480px;
    margin-right: 15px;
  }
  .Videos .Video-Right {
    width: 475px;
  }
  .Gallery .Gallery-Box .Single-Gallery {
    width: 319px;
  }
  .Collection .Collection-Left {
    width: 460px;
    margin-right: 15px;
  }
  .Collection .Collection-Right {
    width: 495px;
    height: 473px;
  }
  .Collection .Collection-Right img {
    height: 100%;
  }
  .Highlight .Highlight-Box .Hsingle-Box {
    width: 475px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .Bottom-Cover {
    height: 45vh;
  }
  .Top-Footer .Quick-Link {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .Menu-Col {
    width: 495px;
  }
  .Content {
    width: 53%;
    top: 35%;
  }
  .Content h5 {
    display: none;
  }
  .Content h4 {
    font-size: 3rem;
    border-bottom: none;
  }
  .Content a {
    font-size: 20px;
  }
  .Content .Search {
    display: none;
  }
  .Design-box .Single-box {
    width: 243px;
    margin-right: 10px;
  }
  .Gift-Row .Gift-Box .Single-Gift-Box {
    width: 243px;
    padding: 2px;
    margin-right: 10px;
  }
  .About .About-Photo {
    width: 300px;
    height: 408px;
    margin-right: 10px;
  }
  .About .About-Text {
    width: 440px;
    padding: 0px;
    margin: 6px 0;
  }
  .Videos .Videos-Text {
    width: 100%;
    margin-right: 0;
  }
  .Videos .Video-Right {
    width: 751px;
  }
  .Gallery .Gallery-Box .Single-Gallery {
    width: 246px;
    height: 240px;
  }
  .Collection .Collection-Left {
    width: 390px;
    margin-right: 8px;
  }
  .Collection .Collection-Left .Frame .Text {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .Collection .Collection-Left .Frame .Text h4 {
    font-size: 24px;
  }
  .Collection .Collection-Right {
    width: 352px;
    height: 521px;
  }
  .Collection .Collection-Right img {
    height: 100%;
  }
  .Highlight .Highlight-Box .Hsingle-Box {
    width: 370px;
    margin-right: 10px;
    padding: 10px 15px;
  }
  .Bottom-Cover {
    height: 35vh;
  }
  .Top-Footer .Fab-Fashion {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 25px;
  }
  .Top-Footer .Quick-Link {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .Top-Footer .Newslatter {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 320px;
  }
  .Logo-Col {
    width: 170px;
    margin: 0px 75px;
  }
  .Menu-Col {
    width: 100%;
  }
  .Menu-Col ul {
    text-align: center;
  }
  .Content {
    width: 46%;
    top: 39%;
  }
  .Content h5 {
    display: none;
  }
  .Content h4 {
    font-size: 1rem;
    border-bottom: none;
  }
  .Content a {
    font-size: 12px;
  }
  .Content .Search {
    display: none;
  }
  .Design-box .Single-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .Gift-Row .Gift-Box .Single-Gift-Box {
    width: 100%;
    margin-bottom: 20px;
  }
  .About .About-Photo {
    width: 100%;
    height: 315px;
  }
  .About .About-Text {
    width: 100%;
    margin: 2px 0;
  }
  .Videos .Videos-Text {
    width: 100%;
  }
  .Videos .Video-Right {
    width: 100%;
    height: 188px;
  }
  .Gallery {
    margin-top: 35px;
  }
  .Gallery .Gallery-Box .Single-Gallery {
    width: 100%;
  }
  .Discount-Banner {
    margin-top: 25px;
  }
  .Collection .Collection-Left {
    width: 100%;
  }
  .Collection .Collection-Left .Frame {
    width: 100%;
    padding: 20px 12px 20px 30px;
  }
  .Collection .Collection-Left .Frame .Text {
    -ms-flex-preferred-size: 74%;
        flex-basis: 74%;
  }
  .Collection .Collection-Left .Frame .Text h4 {
    font-size: 24px;
  }
  .Collection .Collection-Right {
    width: 100%;
    margin-top: 20px;
  }
  .Highlight .Highlight-Box .Hsingle-Box {
    width: 100%;
  }
  .Activities h4 {
    font-size: 23px;
  }
  .Map iframe {
    height: 210px;
  }
  .Bottom-Cover {
    height: 45vh;
  }
  .Bottom-Cover .Cover-Text h5 {
    font-size: 22px;
  }
  .Bottom-Cover .Cover-Text p {
    font-size: 14px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .Top-Footer .Fab-Fashion {
    -ms-flex-preferred-size: 96%;
        flex-basis: 96%;
  }
  .Top-Footer .Quick-Link {
    -ms-flex-preferred-size: 96%;
        flex-basis: 96%;
    margin-top: 20px;
  }
  .Top-Footer .Newslatter {
    -ms-flex-preferred-size: 96%;
        flex-basis: 96%;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
  .Logo-Col {
    margin: 0px 20px;
  }
}
/*# sourceMappingURL=Custom.css.map */