@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #333;
}
.container 
{
  width: 1140px;
  margin: 0 auto;
}