.Videos
{
  overflow: hidden;
  margin-top: 50px;

  .Videos-Text 
  {
    float: left;
    width: 550px;
    margin-right: 20px;
    h4 
    {
      text-transform: capitalize;
      font-size: 2rem;
      color: #474A4D;
    }
    p 
    {
      color: #6c7279;
      font-size: 1rem;
      margin: 10px 0;
      line-height: 25px;
    }
  }
  .Video-Right 
  {
    float: right;
    width: 570px;
    height: 342px;
    iframe 
    {
      border: 0;
      width: 100%;
      height: 100%;
    }
  }
}