.Welcome-Row
{
  background: #E81F6B;
  margin-top: -4px;
  padding: 45px 20px;
  text-align: center;
  h4 
  {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
  }
  .Bars
  {
    position: relative;
    height: 6px;
    width: 105px;
    background: #d4fde0;
    margin: 15px auto 20px;
    border-radius: 30px;
    &::before
    {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: #40fc7f;
      animation: Move-Circle;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      // animation-direction: alternate;
      @keyframes Move-Circle 
      {
        from
        {
          left: 0%;
        }
        to
        {
          left: 90%;
        }
      }
    }
  }
  p 
  {
    font-size: 1rem;
    color: #fff;
  }
}